{% extends "base.html" %}
{% block title %} MailU Home {% endblock %}
hello
{% block content %}
<div id="container">
  <h>
    <h1>MailU protects your privacy</h1>
    <H2>Encryption software in order to protect you from invaders!</H2>
    <p>In the modern world, there can be a lot of hackers lurking around every corner of the internet to hack you and steal your data. Here, at MailU, we believe that your privacy is our upmost concern. For this reason, we've created an encryption system to try and encrypt any and all mail you send from your personal MailU account. </p>
    <p> Please read more about how we encrypt your MailU before sendoff in our docs page. </p>
  </h>
</div>
{% endblock %}